.loader-loading, .loader-ending {
   margin: 0;
   background: linear-gradient(270deg, darkgreen ,green, lightgreen);
   height: 0.5em;  
   width: 100%;   
}
.loader-loading{
   animation: progress-loading 7.5s ease-out;
}
@keyframes progress-loading {
   0% { width: 0; }
   100% { width: 100%; }
}
.loader-ending {
   /* '1s' is related to the time configured on the interceptor */
   animation: progress-ending 1s ease; 
}
@keyframes progress-ending {
   0% { opacity: 1; }
   100% { opacity: 0; }
}
.loader-stopped{
   height: 0.5em;  
}
