.evaluate {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    background-color: rgba(245, 245, 245, 0.3);
    padding: 1rem;
    border-radius: 5px;
}
.evaluate__score {
    margin: 0.3rem 0;
}
.evaluate__skill{
    margin: 0.6rem;
    font-size: 1rem;
}
.score-item{
    margin: 0 0.3rem;
}
.score {
    display: flex;
    flex-direction: row;
}
.score-item{
    flex-grow: 1;
}
.evaluate__submit {
    display: flex;
    justify-content: flex-end;
}