<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ job.name }}
    </mat-panel-title>
    <mat-panel-description>
      {{ panelOpenState ? 'Ocultar' : 'Expandir'}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="job-menu">
    <button mat-flat-button (click)="toogleContainerNewStage()"> {{ textButtonNewStage }} </button>
    <button mat-flat-button color="warn" *ngIf="!uploadJob; else updateButton" (click)="edit()"> Editar </button>
    <ng-template #updateButton>
      <button mat-flat-button color="primary" (click)="update()"> Atualizar </button>
    </ng-template>
    <button mat-flat-button color="accent" (click)="delete()">Deletar</button>
  </div>
  <div *ngIf="displayContainerNewStage" class="container-new-stage">
    <app-new-stage [skills]="skills" [jobID]="job._id" (stageCreated)="addStage($event)"></app-new-stage>
  </div>
  <div class="job-info" [id]="job._id">
    <input *ngIf="uploadJob" [(ngModel)]="job.name" />
    <input [(ngModel)]="job.description" disabled />
    <select disabled [(ngModel)]="job.department">
      <option *ngFor="let department of departments" [selected]="department === job.department">
        {{ department }}
      </option>
    </select>
  </div>

  <div class="job-stages">
    <h1 class="stages-title">Etapas Cadastradas</h1>
    <app-stages [stages]="job.stages" [skills]="skills"></app-stages>
  </div>
</mat-expansion-panel>