.expansion-painel{
  margin: 1rem 0;
}
.mat-expansion-panel-header-description {
  flex-grow: 0;
}
.job-menu{
  display: flex;
  justify-content: flex-end
}
.job-menu button{
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.job-info{
  display: flex;
  flex-direction: column;
}
