.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.evaluation__candidate-info, .evaluation__job-info {
    margin: 1rem 0;
    background-color: #d3d3d336;
    padding: 1rem;
    border-radius: 5px;
}
.evaluation__candidate-info li, .evaluation__job-info li {
    margin: 0.4rem 0;
}
.evaluation__candidate-curriculum {
    padding: 1rem;
}