
<form class="new-job" [formGroup]="jobForm" (ngSubmit)="createJob(jobForm.value)">
    <div class="new-job__title">Nova Vaga</div>
    <div>
        <label for="name">Nome de Vaga</label>
        <input id="name" type="text" formControlName="name">
    </div>

    <div>
        <label for="description">Descrição ou Detalhes da Vaga</label>
        <input id="description" type="text" formControlName="description">
    </div>
    <div>
        <label for="department">Departamento Responsável</label>
        <select id="department" type="text" formControlName="department">
            <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
        </select>
    </div>

    <button mat-button class="button" style="margin-top: 0px;" type="submit">Cadastrar Vaga</button>

    <!-- <app-add-stages (updateStagesEventEmitter)="updateStages($event)"></app-add-stages> -->
    <!-- <div class="jobs-stages">

        <br>
        <h3 class="titulo">Criar Etapas</h3>
        <br>
        <div>
            <div>
                <label for="name">
                    Nome da Etapa
                </label>
                <input id="name" type="text" formControlName="name">
            </div>

            <div>
                <label for="description">
                    Descrição ou Detalhes da Etapa
                </label>
                <input id="description" type="text" formControlName="description">
            </div>
            <div>
                <label for="skills">
                    Competências Exigidas
                </label>
                <select multiple>
                    <option value="volvo">Competência 1</option>
                    <option value="volvo">Competência 2</option>
                    <option value="volvo">Competência 3</option>
                  </select>
            </div>
        </div>
        <button mat-stroked-button>Adicionar Etapa</button>
        <div class="jobs-stages-list">
            <div>Etapa 1</div>
            <div>Descrição da Etapa 1</div>
            <div>Competências da Etapa 1</div>
        </div>

    </div> -->


</form>


<div class="jobs">
    <span class="jobs__title">Lista de Vagas</span>
    <div class="job" *ngFor="let job of jobs.reverse()" [id]="job._id">
        <div>{{ job.name }}</div>
        <div>{{ job.description }}</div>
        <div>{{ job.department }}</div>
        <app-stages [job]="job"></app-stages>
    </div>
</div>