<div class="stage-menu">
    <button mat-stroked-button color="warn" *ngIf="!updateStage; else updateButton" (click)="edit()">Editar</button>
    <ng-template #updateButton>
        <button mat-stroked-button color="primary" (click)="update()"> Atualizar </button>
    </ng-template>
    <button mat-stroked-button color="accent" (click)="delete()">Deletar</button>
</div>
<div class="stage-info" [id]="stage._id">
    <input *ngIf="updateStage" [(ngModel)]="stage.name" />
    <input [(ngModel)]="stage.description" disabled />
    <h1 class="skills-title">Competências Necessárias</h1>
    <div *ngIf="!updateStage; else selectSkills" class="stage__skills">
        <input *ngFor="let skill of stage.skills" [value]="skill.name" disabled/>
    </div>
    <ng-template #selectSkills>
        <select [(ngModel)]="stage.skills" multiple>
            <option *ngFor="let skill of skills" [value]="skill._id">{{ skill.name }}</option>
        </select>
    </ng-template>
</div>