<form class="add-job" [formGroup]="jobForm" (ngSubmit)="onSubmit(jobForm.value)">

    <div>
        <label for="name">
            Nome de Vaga 
        </label>
        <input id="name" type="text" formControlName="name">
    </div>
    
    <div>
        <label for="description">
            Descrição ou Detalhes da Vaga
        </label>
        <input id="description" type="text" formControlName="description">
    </div>
    <div>
        <label for="department">
            Departamento Responsável
        </label>
        <input id="department" type="text" formControlName="department" value="SOFTWARE_DEVELOPMENT">
    </div>
    
    <button class="button" type="submit">Cadastrar</button>

</form>
