.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem;
}
.user-title{
    padding: 1rem;
    border-bottom: 1px solid lightslategray;
    margin-bottom: 2.5rem;
    width: 100%;
}
.frame-icon{
    width: 120px;
    color: rgb(73, 73, 184);
}
.frame-icon:hover{
    color: lightseagreen;
}
.icon {
    font-size: 120px
}
.user-info, .container-new-user{
    width: 45%;
}
.user-info{
    
    display: flex;
    font-size: 20px;
}
.bem-vindo {
    font-size: 30px;
    color: rgb(20, 73, 116);
}
.user-info ul {
    margin-left: 1rem;
}
.user-info li {
    margin: 0.75rem;
}