.expansion-painel{
    margin: 1rem 0;
  }
.mat-expansion-panel-header {
    cursor: pointer;
}
.mat-expansion-panel-header-description {
    flex-grow: 0;
}
.skill-menu{
    display: flex;
    justify-content: flex-end
}
.skill-menu button{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

