.loader-loading, .loader-ending {
   margin: 0;
   background: linear-gradient(270deg, green,steelblue, slategray);
   height: 0.3em;  
   width: 95%;   
}
.loader-loading{
   animation: progress-loading 5s ease-out;
}
@keyframes progress-loading {
   0% { width: 0; }
   95% { width: 95%; }
}
.loader-ending {
   /* '1s' is related to the time configured on the interceptor */
   animation: progress-ending 1s ease; 
}
@keyframes progress-ending {
   0% { opacity: 1; }
   100% { opacity: 0; }
}
.loader-stopped{
   height: 0.3em;  
   width: 100%;
}
