<form class="new-stage" [formGroup]="stageForm" (ngSubmit)="add(stageForm.value)">
  <input type="text" formControlName="name" placeholder="Nome da Etapa">
  <input type="text" formControlName="description" placeholder="Descrição da Etapa">
  <select formControlName="skills" multiple>
    <option *ngFor="let skill of skills" [value]="skill._id">{{ skill.name }}</option>
  </select>
  <div class=".new-stage__button-container">
    <button mat-stroked-button color="primary" type="submit">Adicionar Etapa</button>
  </div>
</form>
