<div class="candidate" [id]="candidate._id">
    <app-menu *ngIf="hasCurriculum; else uploadCurriculo" content="Currículo" [items]="curriculumActions" (clicked)="curriculumClicked($event)"></app-menu>
    <ng-template #uploadCurriculo>
        <app-upload-file [candidateId]="candidate._id" (curriculumAdded)="curriculumAdded($event)"></app-upload-file>
    </ng-template>
    <button type="button" (click)="delete()"> Deletar </button>
    <input [(ngModel)]="candidate.name" disabled/>
    <input [(ngModel)]="candidate.cpf" disabled/>
    <input [(ngModel)]="candidate.address" disabled/>
    <div class="candidate-links-content">
        <div *ngIf="uploadCandidate" class="candidate__new-link">
            <input placeholder="Perfil Social" [(ngModel)]="newLink" [ngModelOptions]="{standalone: true}">
            <button type="button" (click)="addLinkToCandidate()">Adicionar</button>
        </div>
        <div class="candidate__links">
            <div *ngFor="let link of candidate.links">
                {{link}}
                <button type="button" *ngIf="uploadCandidate" (click)="removeLinkOfCandidate(link)">Remover</button>
            </div>
        </div>
    </div>
    <button type="button" *ngIf="!uploadCandidate; else updateCandidate" (click)="edit()"> Editar </button>
    <ng-template #updateCandidate>
        <button (click)="update()"> Atualizar </button>
    </ng-template>
    <app-associate-job [candidate]="candidate"
        (associatedJobs)="newAssociatedJobs($event)"
        *ngIf="thereAreJobOpportunitiesToAssociate">
    </app-associate-job>
    <div associated-jobs>
        <div class="associated-job" *ngFor="let associate of candidate.jobOpportunities">
            <button type="button" (click)="disassociateJob(associate._id)"> Desvincular </button>
            <div class="associated-job__list">
                {{ associate.jobOpportunity.name }}
                <div class="associated-job__stage-evaluator" *ngFor="let stageEvaluator of associate.stageEvaluatorList">
                    <p>Etapa: {{ stageEvaluator.stage.name }}</p>
                    <p>Avaliador: {{ stageEvaluator.evaluator.username }}</p>
                </div>
            </div>
        </div>
    </div>
</div>