<form class="new-candidate" [formGroup]="candidateForm" (ngSubmit)="create(candidateForm.value)">
    <div class="new-candidate-menu">
        <button type="button" (click)="toogleContainerNewCandidate()" mat-stroked-button color="primary"> {{ textButtonNewCandidate }}</button>
        <button *ngIf="displayContainerNewCandidate" class="new-candidate__submit" mat-stroked-button color="primary" type="submit"> Cadastrar </button>
    </div>
    <div [@myInsertRemoveTrigger]="displayContainerNewCandidate ? 'open' : 'closed'" *ngIf="displayContainerNewCandidate" class="container-new-candidate">
            <input formControlName="name" placeholder="Nome">
            <input formControlName="cpf" maxlength="11" placeholder="CPF">
            <input formControlName="address" placeholder="Endereço">
            <div class="new-candidate__new-link">
                <input placeholder="Perfil Social" [(ngModel)]="newLink" [ngModelOptions]="{standalone: true}">
                <button mat-raised-button color="primary" type="button" (click)="addLink()">Adicionar Perfil</button>
            </div>
            <li [@myInsertRemoveTrigger]="displayContainerNewCandidate ? 'open' : 'closed'" class="new-candidate__link" *ngFor="let link of getLinks()">
                <input class="link-item" [value]="link" disabled/>
                <button type="button" class="link-item" mat-stroked-button color="accent" (click)="removeLink(link)">Remover</button>
            </li>
    </div>
</form>