<div class="container">
    <app-new-skill (skillCreated)="addSkill($event)" [skills]="skills"></app-new-skill>
    <h1 class="skills-title">Competências Cadastradas</h1>
    <!-- <app-loader message="Estamos buscando as competências cadastradas, por favor aguarde ..."></app-loader> -->
    <mat-accordion>
        <app-skill class="skill"
            *ngFor="let skill of skills.reverse()"
            [skill]="skill"
            (skillDeleted)="removeSkill($event)">
        </app-skill>
    </mat-accordion>
</div>
