<form class="new-skill" [formGroup]="skillForm" (ngSubmit)="create(skillForm.value)">
    <div class="new-skill__title">Adicionar Nova Competência</div>
    <input formControlName="name" placeholder="Nome da Competência">
    <input formControlName="description" placeholder="Descrição da Competência">
    <button type="submit">Cadastrar</button>
</form>


<div class="skills">
    <span class="skills__title">Lista de Vagas</span>
    <div class="skill" *ngFor="let skill of skills.reverse()" [id]="skill._id">
        <button (click)="delete(skill)">Deletar</button>
        <input [(ngModel)]="skill.name" disabled/>
        <input [(ngModel)]="skill.description" disabled/>
        <button *ngIf="!(showButtonUpdateSkillID === skill._id); else updateButton" (click)="edit(skill)"> Editar </button>
        <ng-template #updateButton>
            <button (click)="update(skill)">Atualizar</button>
        </ng-template>
    </div>
</div>