.jobs-title {
    padding: 1rem;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}
.mat-radio-button {
    margin-left: 1rem;
}
.expansion-painel{
    margin: 1rem 0;
}