.header {
    background-color: rgb(43, 43, 153);
    padding: 0.5rem 1.3rem;
}
.header li {
    border-bottom: 0.75px solid white;
    padding: 1rem 0;
}
.header li:last-child {
    border-bottom: 0;
}
.header a {
    color: white;
    text-decoration: none;
}
.header a:hover {
    color: yellow;
}

@media screen and (min-width: 600px) {
    .header {
        display: flex;
        justify-content: flex-start;
    }
    .header li {
        border: 0;
        padding: 0.7rem;
    }
}