<div>
    <label for="name">
        Nome da Etapa 
    </label>
    <input id="name" type="text" formControlName="name" [value]="stage.name">
</div>

<div>
    <label for="description">
        Descrição ou Detalhes da Etapa
    </label>
    <input id="description" type="text" formControlName="description" [value]="stage.description">
</div>
<div>
    <label for="skills">
        Competências Exigidas
    </label>
    <mat-label>Competências</mat-label>
    <mat-select [formControl]="skillsFormControl" multiple>
        <mat-select-trigger>
        {{skillsFormControl.value ? skillsFormControl.value[0] : ''}}
        <span *ngIf="skillsFormControl.value?.length > 1" class="example-additional-selection">
            (+{{skillsFormControl.value.length - 1}} {{skillsFormControl.value?.length === 2 ? 'other' : 'others'}})
        </span>
        </mat-select-trigger>
        <mat-option *ngFor="let skill of stage.skills" [value]="skill">{{skill}}</mat-option>
    </mat-select>
</div>
<button (click)="addStage()" mat-button>Adicionar Etapa</button>