
<form class="new-job" [formGroup]="jobForm" (ngSubmit)="create(jobForm.value)">
  <div class="new-job-menu">
    <button type="button" (click)="toogleContainerNewJob()" mat-stroked-button> {{ textButtonNewJob }}</button>
    <button *ngIf="displayContainerNewJob" class="new-job__submit" mat-stroked-button color="primary" type="submit"> Cadastrar </button>
  </div>
  <div *ngIf="displayContainerNewJob" class="container-new-job">
    <input formControlName="name" placeholder="Nome">
    <input formControlName="description" placeholder="Descrição">
    <select formControlName="department">
      <option selected value="">Departamento</option>
      <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
    </select>
  </div>
</form>